.btn {
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #3876ac;
}

.primary {
    background: #428bca;
}

.success {
    background: #31f873;
}

.danger {
    background: #f12c46;
}
