* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
  }
body {
	background-color: white;
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	color: #272b34;
	line-height: 1em;
	margin: 0;
  	padding: 2em 1em;
}
.contain {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}
